.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 22px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 22px;
}

.textarea {
    resize: none;
    border: none;
    background-color: transparent;
}

.textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input {
    border: none;
    background-color: transparent;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn {
    border-radius: 8px;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #000000;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #2633a0;
    transition: all 0.2s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .title,
    .content {
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
        padding: 12px 40px;
    }

    .textarea,
    .input {
        font-size: 16px;
    }
}
